<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/master/phpunit.xsd"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tmp/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./tmp/clover.xml"/>
        <log type="testdox-html" target="./tmp/testdox.html"/>
    </logging>
</phpunit>